node_modules/
test-results/
playwright-report/
playwright/.cache/
.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# Midscene.js dump files
midscene_run/report
midscene_run/tmp
midscene_run/cache

# Langsmith
.smith/

# dynamic tests
tests/*-dynamic.spec.ts